[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-redis = "*"
flask-cors = "*"
flask-heroku = "*"
cors = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
